/* *** Break Points *** */
@small-max-width: 576px;
@medium-max-width: 768px;
@large-max-width: 992px;
@extralarge-max-width: 1400px;

@formula-result-max-width: 1050px;

/* *** Colors *** */
// base colors
@color-primary: #007bff;
@color-secondary: #6c757d;
@color-success: #28a745;
@color-danger: #dc3545;
@color-warning: #ffc107;
@color-info: #17a2b8;
@color-light: #f8f9fa;
@color-dark: #343a40;
@color-link: #007bff;

// hover colors
@color-primary-hover: darken(@color-primary, 15%);
@color-secondary-hover: darken(@color-secondary, 15%);
@color-success-hover: darken(@color-success, 15%);
@color-danger-hover: darken(@color-danger, 15%);
@color-warning-hover: darken(@color-warning, 15%);
@color-info-hover: darken(@color-info, 15%);
@color-light-hover: darken(@color-light, 15%);
@color-dark-hover: darken(@color-dark, 15%);
@color-link-hover: darken(@color-link, 15%);

// green-section colors
@green-section-color: #155724;
@green-section-background-color: #d4edda;
@green-section-border-color: #c3e6cb;

// turquoise-section colors
@turquoise-section-color: #0c5460;
@turquoise-section-background-color: #d1ecf1;
@turquoise-section-border-color: #d1ecf1;

// blue-section colors
@blue-section-color: #004085;
@blue-section-background-color: #cce5ff;
@blue-section-border-color: #b8daff;

// yellow-section colors
@yellow-section-color: #856404;
@yellow-section-background-color: #fff3cd;
@yellow-section-border-color: #ffeeba;

// red-section colors
@red-section-color: #721c24;
@red-section-background-color: #f8d7da;
@red-section-border-color: #f5c6cb;
